# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [12]:
#1. Two sample T-test

df_dragon = df[df["Type 1"]=="Dragon"]["HP"]
df_grass = df[df["Type 2"]=="Grass"]["HP"]

#Set the hypothesis

#H0: mu_HP dragon > mu_HP grass
#H1: mu_HP dragon < mu_HP grass

#significance level: alpha = 0.05

st.ttest_ind(df_dragon, df_grass, equal_var=False, alternative = "greater")

# Since the p-value (0.00016) is much smaller than the significance level, we reject the null hypothesis.
# There is strong evidence to support the claim that Dragon-type PokÃ©mon have higher HP than Grass-type PokÃ©mon at the 5% significance level.

TtestResult(statistic=3.840727789973186, pvalue=0.00016096360035183744, df=54.507654005585586)

In [16]:
# df_dragon.mean(), df_grass.mean() --> Good to have an idea of what the outcome should be.

(83.3125, 62.64)

In [28]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [41]:
df_legendary = df[df["Legendary"]== True ][["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
df_non_legendary = df[df["Legendary"]== False][["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]

#H0: mu_stat_legendary = mu_stat_non_legendary
#H1: mu_stat_legendary != mu_stat_non_legendary

significance_level: alpha = 0.05

st.ttest_ind(df_legendary, df_non_legendary, equal_var=False, alternative = "two-sided")

for stat in ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]: # Loop through each stat and perform t-test
    ttest_result = st.ttest_ind(df_legendary[stat], df_non_legendary[stat], equal_var=False, alternative="two-sided")
    
    print(f"{stat}: t-statistic = {ttest_result.statistic:.4f}, p-value = {ttest_result.pvalue:.4f}")

#HP: There's enought evidence to reject the null hypothesis and to support the alternative hypothesis. 
     #The stats of legendary and not legendary are probably different. 
#Attack: There's enought evidence to reject the null hypothesis and to support the alternative hypothesis. 
     #The stats of legendary and not legendary are probably different. 
#Rest of the variables have the same result.

HP: t-statistic = 8.9814, p-value = 0.0000
Attack: t-statistic = 10.4381, p-value = 0.0000
Defense: t-statistic = 7.6371, p-value = 0.0000
Sp. Atk: t-statistic = 13.4174, p-value = 0.0000
Sp. Def: t-statistic = 10.0157, p-value = 0.0000
Speed: t-statistic = 11.4750, p-value = 0.0000

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [43]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [53]:
school_coords = (-118, 37)
hospital_coords = (-122, 34)

def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)

df['distance_to_school'] = np.sqrt((df['longitude'] - school_coords[0])**2 + (df['latitude'] - school_coords[1])**2)
df['distance_to_hospital'] = np.sqrt((df['longitude'] - hospital_coords[0])**2 + (df['latitude'] - hospital_coords[1])**2)

# Classify houses as 'close' if the distance to either school or hospital is less than 0.50
df['is_close'] = (df['distance_to_school'] < 0.50) | (df['distance_to_hospital'] < 0.50)

# Dividing data into two groups: close vs far
df_close = df[df['is_close'] == True]['median_house_value']
df_far = df[df['is_close'] == False]['median_house_value']

# Two-sample t-test
t_stat, p_value = st.ttest_ind(df_close, df_far, equal_var=False)

alpha = 0.05

# Results
print(f"T-statistic: {t_stat:.4f}") #to print only 4 decimal numbers.
print(f"P-value: {p_value:.4f}")

#Conclusion: There's enough evidence to reject the null hipothesis. P-value is smaller than the significance value.
#Houses close to schools or hospitals are statistically more expensive.

T-statistic: -17.1742
P-value: 0.0001